<header class="header">
    <div class="wrapper">
        <nav class="header__navigation">
            <div class="header__navigation-logo">
                <h1>
                    <a [routerLink]="['/']">Logo</a>
                </h1>
            </div>
            <div class="header__navigation-links">
                <a [routerLink]="['/contas']" routerLinkActive="active" [hidden]="!this.logado"> Contas</a>
                <a [routerLink]="['/pessoas']" routerLinkActive="active" [hidden]="!this.logado"> Pessoas</a>

                <a [routerLink]="['/login']" routerLinkActive="active" [hidden]="this.logado"> Login</a>
            </div>
        </nav>
    </div>
</header>