<footer class="footer">
    <div class="wrapper">
        <div class="footer__inner">
            <div class="footer__logo">Logo</div>
            <div class="footer__content">
                <p>Telefone: (11) 0000-0000</p>
                <p>Telefone2: (11) 0000-0000</p>
                <p>Email: angular@gmail.com</p>
            </div>
            <div class="btn-scrollTop-Container">
                <button class="btn-scrollTop">
                    <i class="pi pi-angle-up"></i>
                </button>
            </div>
        </div>
    </div>
</footer>