<div class="modal">
    <a [routerLink]="['../../']" class="modal-bg"></a>
    <div class="modal-content">
        <h2>Detalhes</h2>
        <form class="form-editar" #form="ngForm">
            <div class="header-form-editar">
                <button type="button" class="btn-deletar" (click)="onDelete()">Deletar</button>
                <button type="button" (click)="habilitarEdicao()" class="btn-habilitarEdicao">{{ this.textBtnHabilidarEdicao }}</button>
                <button (click)="voltar(form)" class="btn-voltar">Voltar</button>
                <button type="submit" class="btn-editar">Editar</button>
            </div>
            <div class="form-content" [class.readonly]="this.desabilitar" [class.form-habilitado]="!this.desabilitar">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon readonly ">Id:</span>
                    <input type="text"
                        pInputText
                        [value]="pessoa.IdPessoa"
                        readonly
                    >
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Nome:</span>
                    <input type="text"
                        pInputText
                        required
                        [value]="pessoa.NomePessoa"
                        [readonly]="this.desabilitar"
                    >
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Data de Nascimento:</span>
                    <input type="date"
                        required
                        [value]="pessoa.DataNascPessoa"
                        [readonly]="this.desabilitar"
                    >
                </div>
                <div class="ui-inputgroup ">
                    <span class="ui-inputgroup-addon">Rg:</span>
                    <input type="text"
                        pInputText
                        required
                        mask="00.000.000-a"
                        [value]="pessoa.RgPessoa"
                        [readonly]="this.desabilitar"

                        >
                    </div>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">Cpf:</span>
                        <input type="text"
                            pInputText
                            required
                            mask="000.000.000-00"
                            [value]="pessoa.CpfPessoa"
                            [readonly]="this.desabilitar"
                        >
                    </div>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">Endereço:</span>
                        <input type="text"
                            pInputText
                            required
                            [value]="pessoa.Endereco"
                            [readonly]="this.desabilitar"
                        >
                    </div>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">Número:</span>
                        <input type="text"
                            pInputText
                            required
                            [value]="pessoa.NumeroEnd"
                            [readonly]="this.desabilitar"
                        >
                    </div>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">CEP:</span>
                        <input type="text"
                            pInputText
                            required
                            mask="00000-000"
                            [value]="pessoa.Cep"
                            [readonly]="this.desabilitar"
                        >
                    </div>
            </div>
        </form>
    </div>
</div>