<div class="modal">
    <a [routerLink]="['../']" class="modal-bg"></a>
    <div class="modal-content">
        <form autocomplete="on" #form (submit)="getUsuario(userdigit)">
            <h2>Login</h2>
            <p class="">
                <label for="email">User: </label>
                <br>
                <input
                    type="email"
                    pInputText
                    id="email"
                    [email]="true"
                    placeholder="ex: lalal@gmail.com"
                    required
                    name="email"
                    [(ngModel)]="userdigit.email"
                    #email="ngModel"
                    style="width: 100%; padding: 5px 15px;"
                >
            </p>
            <p>
                <label for="senha">Senha: </label>
                <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                    <input
                        type="password"
                        id="senha"
                        pPassword
                        required
                        style="width: 100%; padding: 5px 15px;"
                        autocomplete="on"
                        placeholder="****"
                        [feedback]="false"
                        name="password"
                        [(ngModel)]="userdigit.senha"
                    >
                </show-hide-password>
            </p>
            <p>
                <button
                    type="submit"
                    style="margin-left: auto; background: green; color: honeydew;"
                >Entrar</button>
            </p>
        </form>
    </div>
</div>