
    <div class="wrapper">
        <header class="wrapper-body header-options">
            <h2>Registros</h2>
            <button class="btn excluir" *ngIf="this.selected" title="Excluir Registro" (click)="onDelete(this.selected)">
                <i class="pi pi-trash"></i>
            </button>
            <a [routerLink]="['pessoas-adicionar']"  class="btn adicionar" title="Adicionar Registro">
                <i class="pi pi-plus"></i>
            </a>
        </header>
        <div class="wrapper-body list-container">
            <p-table [value]="service.listPessoas" *ngIf="service.listPessoas" [columns]="cols" [paginator]="true" [rows]="10" #dt>
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="pi pi-search" style="margin: 5px 10px auto 0"></i>
                        <input type="text"
                            pInputText
                            size="50"
                            placeholder="Global Filter"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width: auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">{{ col.header }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr (click)="verDetalhesMobile(item)" [class.selected]="item === selected" [class.unselected]="item !== selected">
                        <td> {{ item.IdPessoa }} </td>
                        <td> {{ item.NomePessoa }} </td>
                        <td> {{ item.DataNascPessoa }} </td>
                        <td> {{ item.RgPessoa }} </td>
                        <td> {{ item.CpfPessoa }} </td>
                        <td> {{ item.Endereco }} </td>
                        <td> {{ item.NumeroEnd }} </td>
                        <td> {{ item.Cep }} </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
<router-outlet>
</router-outlet>



