<div class="wrapper">
    <header class="wrapper-body header-options">
        <h2>Registros</h2>
        <div class="header-options-botoes" *ngIf="this.selected">
            <button class="btn excluir" title="Excluir Registro" (click)="onDelete(this.selected)">
                <i class="pi pi-trash"></i>
            </button>
        </div>
        <a [routerLink]="['contas-adicionar']" class="btn adicionar" title="Adicionar Registro">
            <i class="pi pi-plus"></i>
        </a>
    </header>
    <div class="wrapper-body list-container">
        <p-table [value]="service.listContas" *ngIf="service.listContas" [columns]='cols' [paginator]="true" [rows]="10" #dt>
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="pi pi-search" style="margin: 5px 10px auto 0"></i>
                    <input type="text"
                        pInputText
                        size="50"
                        placeholder="Global Filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        style="width: auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">{{ col.header }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr (click)="onSelect(item)"  (dblclick)="verDetalhes(item)"  [class.selected]="item === selected"  [class.unselected]="item !== selected">
                    <td>{{ item.IdConta }}</td>
                    <td>{{ item.Agencia }}</td>
                    <td>{{ item.NumeroConta }}</td>
                    <td>{{ item.DataAbertura }}</td>
                    <td>{{ item.IdPessoa }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<router-outlet>
</router-outlet>