.modal {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}
.modal-bg {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.modal-content {
    width: 80%;
    max-height: 80vh;
    display: flex;
    padding: 2rem;
    background-color: #fff;
    max-width: 530px;
    position: relative; 
    z-index: 1;
}
.linha {
    justify-content: center;
    margin: 1rem 0;
}