* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

*[disabled=true],
*[disabled] {
    cursor: default;
}
input {
    padding: 0 0 0 1rem;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.btn {
    margin: 0 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: flex;
    vertical-align: unset;
    line-height: unset;
}
.btn:active {
    border-width: 1px;
    outline: none;
}
.btn:hover {
    filter: drop-shadow(3px 3px 1px #c2bfbf);
    color: #fff;
}
[hidden=true] {
    display: block!important;
}
[hidden=false] {
    display: none!important;
}
[hidden] {
    display: unset!important;
}
button {
    border: none;
}

input.ng-touched.ng-invalid, p-inputmask.ng-touched.ng-invalid, p-inputmask.ng-touched.ng-invalid input {
    border: .5px rgba(219, 4, 4, 0.8) solid!important;
}
input.ng-touched.ng-valid, p-inputmask.ng-touched.ng-valid {
    border: 1px rgba(7, 139, 47, 0.8) solid;
}
input.ng-touched.ng-invalid::placeholder, p-inputmask::placeholder {
    color: rgb(170, 5, 5);
}
input.ng-touched.ng-invalid ~ span.ui-inputgroup-addon {
    color: rgb(170, 5, 5);
}


p-inputmask {
    display: flex;
    width: 101%;
    border-radius: 2px;
    height: 100%;
    margin-top: 0px;
    margin-left: 0;
    font-size: 1.6rem;
}
p-inputmask input {
    width: 101%;
    border-radius: 2px;
    font-size: 1.6rem;
    border-radius: 2px;
    height: 101%;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.6rem;
}
input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
    display: none;
}
* {
    box-sizing: border-box;
}

.modal {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}
.modal-bg {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.modal-content {
    width: 80%;
    max-height: 80vh;
    display: flex;
    padding: 2rem;
    background-color: #fff;
    max-width: 730px;
    position: relative;
    z-index: 1;
}
.linha {
    padding: 0;
    justify-content: space-between;
}

input[type=date]::-webkit-datetime-edit{
    color: #606060;
}
input[type=date]{
    color: #000
}

.main {
    min-height: calc(100vh - 60px - 142px);
}
.list-container tbody tr:hover {
    cursor: pointer;
}
button, .link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}