<div class="modal">
    <button class="modal-bg" (click)="cancelar(form)"></button>
    <div class="modal-content modal-content--cadastrarCliente">
        <div class="cadastro">
            <div class="cadastro-inner">
                <form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)"
                     class="form-cadastro-inner col-xl-11 col-md-11 col-sm-12">
                    <h1>Cadastrar Clientes</h1>
                    <div class="row linha">
                        <div class="ui-inputgroup col-xl-7 col-md-6 col-sm-12">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <input type="text" class=""
                                pInputText
                                required
                                placeholder="Nome Completo"
                                #NomePessoa="ngModel"
                                name="NomePessoa"
                                [value]="service.formData.NomePessoa"
                                [(ngModel)]="service.formData.NomePessoa"
                            >
                        </div>
                        <div class="ui-inputgroup col-xl-4 col-md-5 col-sm-12">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <input
                                type="date"
                                min="1980-01-01" max="2000-01-01"
                                placeholder="Data de Nacimento"
                                pInputText
                                required
                                #dataNasc="ngModel"
                                name="dataNasc"
                                [value]="service.formData.DataNascPessoa"
                                [(ngModel)]="service.formData.DataNascPessoa"
                            >
                        </div>
                        <div class="ui-inputgroup col-xl-4 col-md-4 col-sm-5">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <p-inputMask type="text" class=""
                                placeholder="Rg"
                                pInputText
                                required
                                #rg="ngModel"
                                name="rg"
                                [(ngModel)]="service.formData.RgPessoa"
                                mask="99.999.999-9"
                            ></p-inputMask>
                        </div>
                        <div class="ui-inputgroup col-xl-4 col-md-4 col-sm-6">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <p-inputMask type="text" class=""
                                placeholder="CPF"
                                pInputText
                                required
                                #cpf="ngModel"
                                name="cpf"
                                [(ngModel)]="service.formData.CpfPessoa"
                                mask="999.999.999-99"
                            ></p-inputMask>
                        </div>
                        <div class="ui-inputgroup col-xl-3 col-md-3 col-sm-12">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <p-inputMask type="text" class=""
                                placeholder="CEP"
                                pInputText
                                required
                                #cep="ngModel"
                                name="cep"
                                [(ngModel)]="service.formData.cep"
                                mask="99999-999"
                            ></p-inputMask>
                        </div>

                        <div class="ui-inputgroup col-xl-8 col-md-8 col-sm-8">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <input type="text" class=""
                                placeholder="Endereço"
                                pInputText
                                required
                                #endereço="ngModel"
                                name="endereço"
                                [value]="service.formData.Endereco"
                                [(ngModel)]="service.formData.Endereco"
                            >
                        </div>

                        <div class="ui-inputgroup col-xl-3 col-md-3 col-sm-3">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" ></i></span>
                            <input type="text" class=""
                                placeholder="Número"
                                pInputText
                                required
                                #numero="ngModel"
                                name="numero"
                                [value]="service.formData.NumeroEnd"
                                [(ngModel)]="service.formData.NumeroEnd"
                            >
                        </div>
                    </div>
                    <div class="row linha">
                        <button type="button" (click)="cancelar(form)" class="btn btn-cancelar col-xl-2 col-md-2 col-sm-3" title="Cancelar">
                            <i class="pi pi-arrow-circle-left "></i>
                        </button>
                        <button type="submit" class="btn enviar-form col-xl-2 col-md-2 col-sm-3"
                            title="Enviar Cadastro" [disabled]="form.invalid">
                            <i class="pi pi-arrow-circle-right "></i>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<router-outlet>

</router-outlet>