.linha > div {
    padding: 0;
    width: 100%;
    margin: 1rem 0;
}
.form-second-step {
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;    
    margin: 0 auto;
}
.btn.enviar-form {
    background-color: rgba(0, 100, 0, 0.767);
    border: 0px rgba(72, 148, 72, 0.767) solid;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-left: auto;
}
.form-cadastro-inner {
    margin: 0 auto;
}
.form-second-step .ui-inputgroup {
    padding: 0;
}
.inputMask input[pinputtext]{
    width: max-content;
    height: max-content;
    display: flex;
    background-color: red;
}
.btn.add-cliente{
    margin: .5rem auto;
    background-color: rgba(172, 69, 31, 0.932);
    font-size: 1.6rem;
}
.btn-cancelar {
    background-color: rgba(105, 2, 2, 0.932);
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    margin: 0;
    justify-content: center;
}
.btn.escolher-cliente{
    margin: .5rem auto;
    background-color: rgb(82, 20, 82);
    font-size: 1.6rem;
}
.modal.hidden {
    display: none;
}

.ui-inputgroup span {
    width: 40px;
    min-width: 40px;
}
.linha input {
    width: 100%;
}
